:root {
--primary: rgb(148,130,255);
--primary-hover: rgb(112, 97, 194);
--secondary: rgb(88,202,234);
}

*{
    font-family: poppins, sans-serif;
}

body {
    color: rgb(24, 0, 33)!important;
}

/*Cool shadow*/
/* .shadow{
    box-shadow: 0 6px 31px -2px rgb(0 0 0 / 10%)!important;
} */

.custom-brand {
    font-size: 1.2rem;
    text-decoration: none;
}

a.custom-brand {
    position: relative;
}

a.custom-brand::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: .1rem;
    background-color: var(--primary);
    transition: all 0.5s ease;
    transform: scale(0);
    box-shadow: 0px 1px 2px 0px rgba(194, 147, 255, 0.7),
    1px 2px 4px 0px rgba(194, 147, 255, 0.7),
    2px 4px 8px 0px rgba(194, 147, 255, 0.7),
    2px 4px 16px 0px rgba(194, 147, 255, 0.7)!important;

}

a.custom-brand.active::before,
a.custom-brand:hover::before 
{
    transform: scale(1);
}

.navbar-toggler:focus {
    box-shadow: 0px 1px 2px 0px rgba(194, 147, 255, 0.7),
    1px 2px 4px 0px rgba(194, 147, 255, 0.7),
    2px 4px 8px 0px rgba(194, 147, 255, 0.7),
    2px 4px 16px 0px rgba(194, 147, 255, 0.7)!important;
} 

.navbar-nav .nav-item .nav-link {
    position: relative;
}

.navbar-nav .nav-item {
    margin-left: 2rem;
}

.navbar-nav .nav-item .nav-link::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: .1rem;
    background-color: var(--primary);
    transition: all 0.5s ease;
    transform: scale(0);
    box-shadow: 0px 1px 2px 0px rgba(194, 147, 255, 0.7),
    1px 2px 4px 0px rgba(194, 147, 255, 0.7),
    2px 4px 8px 0px rgba(194, 147, 255, 0.7),
    2px 4px 16px 0px rgba(194, 147, 255, 0.7)!important;
}

.navbar.nav .nav-item .nav-link.active::before,
.navbar-nav .nav-item .nav-link:hover::before 
{
    transform: scale(1);
}

.animation-rise-up {
    animation: rise-up 1s ease-in-out forwards;
    opacity: 0;
}


.text-primary {
    color: var(--primary)!important
}

.custom-a {
    width: 2rem;
    height: auto;
    fill: var(--primary)!important;
    vertical-align: middle;
    transition: all ease 0.6s!important;

}

.custom-a:hover {
    fill: black!important;
}

.btn-primary {
    background-color: var(--primary)!important;
    border: none;
    transition: all ease 0.6s!important;
    box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07)!important;
}

.btn-primary:hover {
    background-color: black!important;
    /* border: black solid .1rem!important; */
    box-shadow: 0px 1px 2px 0px rgba(194, 147, 255, 0.7),
    1px 2px 4px 0px rgba(194, 147, 255, 0.7),
    2px 4px 8px 0px rgba(194, 147, 255, 0.7),
    2px 4px 16px 0px rgba(194, 147, 255, 0.7)!important;
}

.btn-outline-primary {  
    border: var(--primary) solid .1rem!important;
}

.btn-outline-primary:hover {
    background-color: black!important;
    border: black solid .1rem!important;
}

 .link-primary {
    color: var(--primary)!important;
    font-weight: 700;
}

.link-primary:hover {
    color: black!important;
}

.link-primary-outline {
    color: black;
}

.link-primary-outline:hover {
    color: white;
}

.card {
    border: none;
}

.card-body {
    background: #f7f7f7;
    transition: all ease 0.8s;
    box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
} 

.card-body:hover {
    box-shadow: 0px 1px 2px 0px rgba(194, 147, 255, 0.7),
    1px 2px 4px 0px rgba(194, 147, 255, 0.7),
    2px 4px 8px 0px rgba(194, 147, 255, 0.7),
    2px 4px 16px 0px rgba(194, 147, 255, 0.7);
    
}

.card-header {
    background-color: transparent;
}

.card h5 {
    color: var(--primary);
    background-color: transparent;
}

.card-img, .card-img-top {
    object-fit: cover;
}

.card-header {
    border-bottom: 0;
}

.custom-svg {
    width: 2.5em;
    height: auto;
    fill: black;
    
}

.personal-photo {
    background-color: var(--primary);
}

.form-control.custom-shadow:focus{
    /* box-shadow: 0 0 .3rem .1rem var(--primary-hover); */
    box-shadow: 2px 1px 2px 0px rgba(194, 147, 255, 0.7),
    2px 2px 2px 0px rgba(194, 147, 255, 0.7),
    2px 2px 8px 0px rgba(194, 147, 255, 0.7),
    2px 2px 8px 0px rgba(194, 147, 255, 0.7);
}

.form-control.custom-shadow:valid{
   background-color: #f7f7f7;
}

footer
{
    background-color: var(--primary);
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
}

@keyframes rise-up {
    from {
        transform: translateY(100px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (prefers-reduced-motion: reduce) {
    .animation-move-down {
        animation: none !important;
    }

    .animation-ease-in {
        animation: none!important;
    }

    .animation-rise-up {
        animation: none!important;
    }
}

/* .animation-ease-in-left {
    animation: ease-in-left .8s ease-in forwards;
    opacity: 0;
}

.animation-ease-in-right {
    animation: ease-in-right .8s ease-in forwards;
    opacity: 0;
}

.animation-move-down {
    animation: moveDown 1s ease-in-out forwards;
    opacity: 0;
} */

/* @media only screen and (max-width: 400px){
    .card-body {
        box-shadow: none;
    }
} */



/* @keyframes introLoad {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes moveDown {
    from {
        transform: translateY(-100px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes ease-in-left {
    from {
        transform: translateX(-200px);
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes ease-in-right {
    from {
        transform: translateX(200px);
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
} */
